<h1>Login</h1>
<form method='post'>
  <input type='text' name='username' />
  <br />
  <input type='password' name='password' />
  <br />
  <input type='checkbox' name='remember' checked />
  <br />
  <input type='hidden' name='redirect' value='{{redirect}}' />
  <input type='submit' />
</form>