body {
  background-color: rgb(20, 20, 20);
  color: white;
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
}

video {
  max-height: 100vh;
  outline: 0;
  width: 100%;
}

#dir {
  color: grey;
}
