body {
  background-color: rgb(20, 20, 20);
  color: white;
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
}

video {
  max-height: 100vh;
  outline: 0;
  width: 100%;
}

#dir {
  color: grey;
}

#breadcrumb li {
  display: inline;

  &:not(:first-child)::before {
    content: '/';
    margin-right: 5px;
  }
}

section#file-browser-content {
  li {
    font-size: 1rem;
    line-height: 2.5rem;
    list-style-type: none;

    a {
      text-decoration: none;
    }

    & a::before {
      margin-right: 10px;
    }
  }

  ul#file-browser-directories a::before {
    content: '🗂️';
  }

  ul#file-browser-videos a::before {
    content: '🎬';
  }
}
